input {
    padding-left: 0;
    margin-right: 20px;

    flex: 1;
}

.fa {
    padding: 20px 10px 20px 20px;
    margin-left: 20px;
    background-color: white;
}

.create-field {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}